{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "6.14"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
