.likecoin-button-widget__label-button {
  background-color: transparent;
}
.likecoin-button-widget__label-button:not([disabled]):hover {
  background-color: #f4f4f4;
}
.likecoin-button-widget__label-button:not([disabled]):active {
  background-color: #e6e6e6;
}

.likecoin-button-widget__cta-button {
  display: block;

  box-sizing: border-box;

  width: max-content;
  height: 36px;
  padding: 4px 16px;

  transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-property: border-color, background-color;

  text-decoration: none;

  color: #28646e;
  border-radius: 12px;
  outline: none;

  font-size: 14px;
  font-weight: 600;
}
.likecoin-button-widget__cta-button.likecoin-button-widget__cta-button--default {
  border: 3px solid #aaf1e7;
  background-color: white;
}
.likecoin-button-widget__cta-button.likecoin-button-widget__cta-button--default:hover {
  border-color: #50e3c2;
}
.likecoin-button-widget__cta-button.likecoin-button-widget__cta-button--default:active {
  background-color: #d2f0f0;
}

.likecoin-button-widget__cta-button.likecoin-button-widget__cta-button--special {
  border: none;
  background: linear-gradient(78deg, #d2f0f0, #f0e6b4);
}
.likecoin-button-widget__cta-button.likecoin-button-widget__cta-button--special:hover {
  background: linear-gradient(78deg, #cae6e6, #e9dfae);
}