.likecoin-button-widget__label-button {
  background-color: transparent;
}
.likecoin-button-widget__label-button:not([disabled]):hover {
  background-color: #f4f4f4;
}
.likecoin-button-widget__label-button:not([disabled]):active {
  background-color: #e6e6e6;
}
