// @import 'node_modules/vuetify/dist/vuetify.min.css'; // uncomment when vuetify is in use
@import 'variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Open Sans', Arial, sans-serif !important;
}

a {
  cursor: pointer;
  transition: color 0.25s ease;

  color: $like-green;

  &:hover {
    color: darken($like-green, 10%);
  }
}

.lc-container {
  max-width: 576px;
  margin: 0 auto;

  @media (min-width: 600px + 1px) {
    padding-top: 60px;
    padding-bottom: 48px;
  }
}

.simple-svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  > svg {
    flex: 1;
  }
}

/* Transition */

.lc-transition {
  &-default {
    &-enter-active {
      transition: max-height 1.2s ease-in-out,
                  opacity 1.2s ease-out;
    }

    &-leave-active {
      transition: max-height .8s ease-in-out,
                  opacity .8s ease-in;
    }

    &-enter-active,
    &-leave {
      max-height: 100vh;

      opacity: 1;
    }

    &-enter,
    &-leave-to {
      max-height: 0;

      opacity: 0;
    }
  }
}
